.container {
  padding-bottom: 100px;
  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 630px;
  }
}

.program {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 46px 0px 39px 0px;

  h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 1px;
    max-width: 299px;
    text-align: center;
  }

  button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 23.8px;
    border-style: solid;
    background: transparent;
    border-color: var(--white);
    padding: 13px 33px;
    color: var(--white);

    transition: all ease 0.5s;

    &:hover {
      background: var(--white);
      color: var(--black)
    }
  }
}
