.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 8px;
  --organic-arrow-border-radius: 12px;
  --organic-arrow-height: 26px;
  --organic-arrow-color: #ffffff;
  --control-button-width: 8%;
  --control-button-height: 25%;
  --control-button-background: #fec942;
  --control-bullet-color: transparent;
  --control-bullet-active-color: transparent;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}