.container {
  padding: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 12px;
    font-size: 1.875rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 1px;
  }

  span {
    background: var(--yellow);
    display: block;
    height: 6px;
    width: 135px;
  }
}
