.container {
  .content {
    display: flex;

        margin:  3.813rem 0px 1.25rem 0px;

    .title {
      h5 {
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 28px;
        letter-spacing: 1px;
        margin-right: 1.875rem;
        padding-right: 1.875rem;
        border-right: 1px solid var(--white);
      }
    }

    .path {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 19.5px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--yellow);

      > div {
        margin-left: 0.313rem;
        margin-right: 0.313rem;
      }

      span {
        color: var(--white);
      }

      a {
        transition: color 0.2s;

        &:hover {
          color: var(--white);
        }
      }
    }
  }
}
