.container {
  background: var(--yellow);

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 91px 15px 100px 15px;
  }
}

.photo {

  img {
    width: 357px;
    height: 300px;
    object-fit: cover;
  }
}
