.container {
  background: var(--blue-700);
  padding: 0.813rem 0.625rem;

  ul {
    display: flex;
    list-style: none;
    li {
      font-family: 'Lato';
      font-weight: 300;
      font-size: 0.938rem;
      display: flex;
      align-items: center;

      svg {
        width: 1.25rem;
        height: auto;
        color: var(--yellow);
        margin-right: 0.5rem;
      }

      & + li {
        margin-left: 1.25rem;
      }
    }
  }
}