.wrapperPricing {
  display: flex;
  background: var(--yellow);
  margin-bottom: 62px;

  img {
    width: 494px;
    height: auto;
    max-width: 100%;
  }

  .pricing {
    width: 498px;
    padding: 1.875rem 60px;

    h4 {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 1px;
      margin-bottom: 24px;
    }

    ul {
      li {
        display: flex;

        span {
          display: block;
          font-family: "Lato";
          font-size: 1.25rem;
          font-weight: 300;
          line-height: 1.875rem;

          svg {
            width: 8px;
            height: auto;
          }
        }
      }
    }
  }
}
