.container {
  padding: 100px 0;
  background: var(--yellow);

  .content {
  }
}

.wrapperSlide {
  position: relative;

  .sliderContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;

    .sliderTop {
      margin-bottom: 66px;

      h2 {
        font-size: 46px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 66px;
        letter-spacing: 3px;

        span {
          color: var(--yellow);
        }

        &:nth-child(2) {
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 36px;
          letter-spacing: 1px;
        }
      }
    }

    .wrapper {
      h2 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 30px;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }

      p {
        font-family: "Lato";
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        max-width: 435px;

        & + p {
          margin-top: 30px;
        }
      }

      ul {
        margin-top: 30px;

        li {
          color: var(--yellow);
          font-family: "Lato";
          font-size: 20px;
          font-weight: 700;
          line-height: 30px;

          &:not(:first-child) {
            margin-top: calc(15px / 2);
          }

          &:not(:last-child) {
            padding-bottom: calc(15px / 2);
          }
        }
      }
    }
  }
}
